.DS_Store
.env
public/assets/ica_data_downloads/*
public/assets/ica_data_uploads/*
public/assets/ica_data_uploads/fasta
public/assets/ica_data_uploads/fastq
pipelines/nextflow/single_file_upload_for_basic_pipeline/.nextflow
pipelines/nextflow/single_file_upload_for_basic_pipeline/ica_data_uploads
pipelines/nextflow/single_file_upload_for_basic_pipeline/work
pipelines/nextflow/single_file_upload_for_basic_pipeline/.nextflow.*
pipelines/nextflow/multiple_file_upload_for_dragen/.nextflow
pipelines/nextflow/multiple_file_upload_for_dragen/ica_data_uploads
pipelines/nextflow/multiple_file_upload_for_dragen/work
pipelines/nextflow/multiple_file_upload_for_dragen/.nextflow.*
pipelines/nextflow/fastq_dragen_analysis_no_upload/.nextflow
pipelines/nextflow/fastq_dragen_analysis_no_upload/ica_data_uploads
pipelines/nextflow/fastq_dragen_analysis_no_upload/work
pipelines/nextflow/fastq_dragen_analysis_no_upload/.nextflow.*
pipelines/nextflow/fastq_dragen_analysis_with_upload/.nextflow
pipelines/nextflow/fastq_dragen_analysis_with_upload/ica_data_uploads
pipelines/nextflow/fastq_dragen_analysis_with_upload/work
pipelines/nextflow/fastq_dragen_analysis_with_upload/.nextflow.*
pipelines/nextflow/fastq_dragen_analysis_download/.nextflow
pipelines/nextflow/fastq_dragen_analysis_download/ica_data_uploads
pipelines/nextflow/fastq_dragen_analysis_download/work
pipelines/nextflow/fastq_dragen_analysis_download/.nextflow.*
pipelines/nextflow/bam_file_upload_for_dragen/.nextflow
pipelines/nextflow/bam_file_upload_for_dragen/ica_data_uploads
pipelines/nextflow/bam_file_upload_for_dragen/work
pipelines/nextflow/bam_file_upload_for_dragen/.nextflow.*
pipelines/nextflow/bam_dragen_analysis_with_upload/.nextflow
pipelines/nextflow/bam_dragen_analysis_with_upload/ica_data_uploads
pipelines/nextflow/bam_dragen_analysis_with_upload/work
pipelines/nextflow/bam_dragen_analysis_with_upload/.nextflow.*
